<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyRecipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/7e35cfb087.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <a class="navbar-brand navbar-custom" style="font-weight: bold; font-size: 30px" href="{{ url_for('home') }}">MyRecipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-custom ml-auto">
          <li class="nav-item navbar-custom active">
            <a class="nav-link navbar-custom" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('contact') }}">Contact</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('account') }}">Account</a>
          </li>
          {% if current_user.account_type == 'Contributor' %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> {{ current_user.username }}</a>
          </li>
          {% endif %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>
    {% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nfbutton" href="{{ url_for('newsfeed') }}">Newsfeed</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">   
      </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <form method="POST">
           <input type="text" autofocus="autofocus" placeholder="Recipe name" name="search_string">
           <input type="text" autofocus="autofocus" placeholder="Ingredients" name="search_string2">
           <input type="text" autofocus="autofocus" placeholder="Cooking time" name="search_string3">
           <input type="text" autofocus="autofocus" placeholder="Method" name="search_string4">
           <input type="text" autofocus="autofocus" placeholder="Meal type" name="search_string5">
          
           <input type="submit" formaction="/search" value="Search">
          
          
          </form>
          
          
        </li>
      </ul>
    </div>
    
    </nav>
    {% endif %}

    


    <div class="container col-md-8">
      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    
    <div class="backgroundcss">
      <div class="container" style="margin-left: 300px; margin-top: 40px">            
        <div class="row">
            {% if current_user.is_authenticated %}
            {% for recipe_ind in recipes %}
            {% for recipe in recipe_ind %}
                        
            <div class="card">
            
              <img class="card-img-top" src="{{ image_file }}">
              <h2 class="card-title">{{ recipe.recipe_name }}</h2>
              <p class="card-text">
                Meal Type: {{ recipe.recipe_meal_type }}
                <br>
                Author: {{ recipe.author.username }}
                <br>
                <br>
                <i class="far fa-heart" style="margin-bottom: 10px;"></i> {{ recipe.likes.count() }} Likes
              </p> 
              <br>
              <div class="align-self-end">
                <a class="button" href="{{ url_for('recipe', recipe_id=recipe.id) }}">View Recipe</a>
              </div>
              

            </div>             

            {% endfor %}
            {% endfor %}
            
            {% else %}
              <div class="container">
                <div class="welcome">
                  <h1 class="hometitle">MyRecipes</h1>
                  <p class="homepara">Hi! Welcome to MyRecipes. This is a platform where you can explore new recipes and also post your recipes for others to see. Please sign up and login to start your journey. Thank you!</p>
                </div>
              </div>
            {% endif %}  
            
            
        </div>
        
        
      </div>
    </div>
<div class="container">
	  <footer class="py-1 bg-dark ">
		<div class="container">
		 <p class = "m-0 text-center text-white">
		   Copyright @ MyRecipes 2021
		 </p>
		</div>
	  </footer>
	</div>
  </body>
</html>