<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyRecipes-Create recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/7e35cfb087.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <a class="navbar-brand navbar-custom" style="font-weight: bold; font-size: 30px" href="{{ url_for('home') }}">MyRecipes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-custom ml-auto">
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('contact') }}">Contact</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('account') }}">Account</a>
          </li>
          {% if current_user.account_type == 'Contributor' %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> {{ current_user.username }}</a>
          </li>
          {% endif %}
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item navbar-custom active">
            <a class="nav-link navbar-custom" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item navbar-custom">
            <a class="nav-link navbar-custom" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>
    <div class="update-recipe">
    <div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ legend }}</legend>
          <div class="form-group">
            {{ form.recipe_ingredient.label(class="form-control-label") }}
            {% if form.recipe_ingredient.errors %}
            {{ form.recipe_ingredient(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.recipe_ingredient.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.recipe_ingredient(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.recipe_cook_time.label(class="form-control-label") }}
            {% if form.recipe_cook_time.errors %}
            {{ form.recipe_cook_time(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.recipe_cook_time.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.recipe_cook_time(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.recipe_method.label(class="form-control-label") }}
            {% if form.recipe_method.errors %}
            {{ form.recipe_method(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.recipe_method.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.recipe_method(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.recipe_meal_type.label(class="form-control-label") }}
            {% if form.recipe_meal_type.errors %}
            {{ form.recipe_meal_type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.recipe_meal_type.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.recipe_meal_type(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.content(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.rpicture.label() }}
            {{ form.rpicture(class="form-control-file") }}
            {% if form.rpicture.errors %}
            {% for error in form.rpicture.errors %}
            <span class="text-danger"> {{error}} </span><br>
            {% endfor %}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
  </div>
  </body>
</html>